a.navbar-brand{
    background-color: rgb(195, 155, 233);
    padding: 10px;
    font-weight: 500;
    color: rgb(219, 180, 180);
    border-radius: 10%;
}

div.container{
    display: inline-block;

    

}

div.box{
    background-color: #AFCDC7;
}



h3.header{
    color: #618A82;
}
